.ClassCard__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  margin-top: 0.5rem;
}

.ClassCard {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr;
  background-color: var(--color-text-onDark-dim);
  color: var(--color-primary);
  padding: 1rem;
  gap: 0.5rem;
  border-radius: 15px;
  position: relative;
}

.ClassCard:hover {
  background-color: var(--color-accent-onAction);
  color: var(--color-text-onDark);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.ClassCard__title {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.ClassCard__duration {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.ClassCard__duration--value {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.ClassCard__intervals {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.ClassCard__intervals--value {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.ClassCard__info {
  width: 100%;
  display: grid;
  gap: 0.5rem;
}

.ClassCard--removeItem {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

.ClassCard-removeIcon {
  font-size: 2.3rem;
  position: absolute;
  bottom: 10px;
  right: 15px;
}

.ClassCard-removeIcon:hover {
  color: var(--color-danger);
}

.FavIcon__ClassCard--inactive {
  font-size: 2.3rem;
  position: absolute;
  top: -10px;
  right: 15px;
  color: var(--color-icon-inactive);
  stroke: var(--color-accent);
  stroke-width: 40;
}

.FavIcon__ClassCard--inactive:hover {
  cursor: pointer;
  stroke: var(--color-primary-onAction);
}

.FavIcon__ClassCard--active {
  font-size: 2.3rem;
  position: absolute;
  top: -10px;
  right: 15px;
  stroke: var(--color-accent);
  stroke-width: 40;
  color: var(--color-accent);
}

.FavIcon__ClassCard--active:hover {
  cursor: pointer;
  stroke: var(--color-text-onDark);
}
