.MessageBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #fffffff3;
  color: #2b0080;
  padding: 2.5rem 1.5rem;
  border-radius: 15px;
}

.MessageBox-Icon {
  font-size: 3.3rem;
  color: #009fcc;
}

.MessageBox-Icon:hover,
.MessageBox-Icon:active {
  color: #0087ac;
  transition: 1s ease-in-out;
  cursor: pointer;
}
