.PlayClass {
  background-color: #fffffff3;
  color: #2b0080;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  padding: 2.5rem 1.5rem;
  border-radius: 15px;
  position: relative;
}

.PlayClass h2 {
  align-self: center;
}

.PlayClass__controls {
  display: flex;
  justify-content: space-between;
  font-size: 3.3rem;
}

.PlayClass__controls--inActive {
  color: #cac9cd;
  stroke: #2b0080;
  stroke-width: 20;
}

.PlayClass__controls--inActive {
  cursor: pointer;
}

.PlayClass__controls--active {
  color: #2b0080;
  cursor: pointer;
}

.PlayClass__controls--active:hover {
  cursor: pointer;
}

.PrepTime__line {
  height: 0.5rem;
  background-color: #2b0080;
}

.PrepTime__Line--time {
  padding-top: 0.5rem;
  display: flex;
  color: #2b0080;
  justify-content: space-between;
  font-size: 0.7rem;
}

.FavIcon--inactive {
  font-size: 2.3rem;
  position: absolute;
  top: -12px;
  right: 25px;
  color: #f4f6f7;
  stroke: #009fcc;
  stroke-width: 40;
}

.FavIcon--inactive:hover {
  cursor: pointer;
}

.FavIcon--active {
  font-size: 2.3rem;
  position: absolute;
  top: -12px;
  right: 25px;
  stroke: #009fcc;
  stroke-width: 40;
  color: #009fcc;
}

.FavIcon--active:hover {
  cursor: pointer;
}

.Circle {
  border: 7px solid #2b0080;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.Circle p {
  align-self: center;
}

.PlayClassCard__wrapper {
  width: 100%;
}
