.PlayClass {
  background-color: var(--color-text-onDark-dim);
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 2rem 1.5rem;
  border-radius: 15px;
  position: relative;
  width: 100%;
  margin-top: 0.5rem;
}

.PlayClass h2 {
  align-self: center;
  font-weight: 600;
}

.PlayClass__controls {
  display: flex;
  justify-content: space-between;
  font-size: 3.8rem;
}

.PlayClass__controls--inActive {
  color: var(--color-icon-inactive);
  stroke: var(--color-primary);
  stroke-width: 20;
}

.PlayClass__controls--active {
  color: var(--color-primary);
}

.PlayClass__controls--active:hover {
  cursor: pointer;
}

.PrepTime-line {
  height: 0.5rem;
  background-color: var(--color-primary);
}

.PrepTime-line__time {
  padding-top: 0.5rem;
  display: flex;
  color: var(--color-primary);
  justify-content: space-between;
  font-size: 0.7rem;
}

.PrepTime-line__time--text {
  font-size: 1rem;
}

.FavIcon--inactive {
  font-size: 2.3rem;
  position: absolute;
  top: -10px;
  right: 15px;
  color: var(--color-icon-inactive);
  stroke: var(--color-accent);
  stroke-width: 40;
}

.FavIcon--inactive:hover {
  cursor: pointer;
}

.FavIcon--active {
  font-size: 2.3rem;
  position: absolute;
  top: -10px;
  right: 15px;
  stroke: var(--color-accent);
  stroke-width: 40;
  color: var(--color-accent);
}

.FavIcon--active:hover {
  cursor: pointer;
}

.Circle-wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
}

.Circle-wrapper__text {
  align-self: center;
  font-size: 1.4rem;
}

.PlayClassCard__wrapper {
  width: 100%;
}
