.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-text-onDark);
}

.NavIcon {
  font-size: 2rem;
  color: var(--color-primary);
}

.NavIcon--active {
  color: var(--color-accent);
}
