.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--text-onDark-color);
}

.NavIcon {
  font-size: 2rem;
  color: var(--primary-color);
}

.NavIcon--active {
  color: var(--accent-color);
}
