.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
  overflow-y: scroll;
  padding: 1rem;
  background-color: #2b0080;
  background-image: url(../../src/assets/images/bgAFL.png);
  background-size: cover;
  background-position: right top;
}
