.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-primary);
  color: var(--color-text-onDark);
  scroll-behavior: smooth;
  overflow-y: scroll;
  padding: 1rem;
}
