.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  color: var(--text-onDark-color);
}

.form-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--text-onDark-color);
  height: 3em;
}

.form-component:focus-within {
  border-bottom: 3px solid white;
  transition: 0.3s ease-in-out;
}

.form input {
  outline: none;
}

.name-field {
  background: none;
  border: none;
  text-align: right;
  color: var(--text-onDark-color);
  font-size: 1em;
}

.time-select {
  border: none;
  background: none;
  align-items: right;
  color: var(--text-onDark-color);
}
.saveButton {
  align-self: center;
  border: none;
  background-color: var(--accent-color);
  color: var(--text-onDark-color);
  border-radius: 15px;
  padding: 0.5em 2em;
  font-weight: 600;
  font-size: 1em;
  margin-top: 1.5em;
}

.saveButton:hover,
.saveButton:active {
  background-color: var(--accent-color-onAction);
}

.phase-picker {
  border: none;
  background: none;
  color: var(--text-onDark-color);
}
.phase-picker:focus {
  width: 200px;
}

.option {
  background-color: var(--text-onDark-color);
  border: none;
  text-align-last: center;
}
.sound-select {
  border: none;
  background: none;
  text-align: right;
  color: var(--text-onDark-color);
}
