:root {
  --color-primary: #2b0080;
  --color-primary-onAction: #76297d;
  --color-accent: #009fcc;
  --color-accent-onAction: #0087ac;
  --color-text-onDark: #ffffff;
  --color-text-onDark-dim: #ffffffdb;
  --color-text-onlight: var(--color-primary);
  --color-danger: #c40808;
  --color-icon-inactive: #f4f6f7;
  --color-bg-confirmation: #202020;
}
